@page "/"
@using MediatR
@using VGSS.Domain.BlogAggregate
@using VGSS.Domain.Ports
@using BlogPostsOverviewQuery = Application.BlogPostsOverview.Query
@using BlogPostsViewModel = Application.BlogPostsOverview.ViewModel;
@inject IMediator _mediator;



@foreach (var blogPost in _viewModels!)
{
    <h2><a href=@($"/blogpost/{blogPost.Id.ToString()}")>@blogPost.Title</a></h2>
    @($"{blogPost.Views} View(s) - Posted by {blogPost.PostedBy.Username} at {blogPost.PostedAt.ToString("hh':'MM")}")
}

@code {
    private IReadOnlyCollection<BlogPostsViewModel>? _viewModels;

    protected override async Task OnInitializedAsync()
    {
        _viewModels = await _mediator.Send(new BlogPostsOverviewQuery());
    }
}