@page "/"
@inject IViewBlogPosts _viewBlogPosts


@foreach (var blogPost in _blogPosts)
{
    <p>@blogPost.Title</p>
}

@code{
    private IReadOnlyCollection<BlogPost> _blogPosts;

    protected override async Task OnInitializedAsync()
    {
        _blogPosts = await _viewBlogPosts.View();
    }
}